
<form action="articles/:id" method = 'PATCH'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="text" name="title" id="">
<input type="submit" name="submit" id="submit">

</form>
