<form action="/articles/<%= @article.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
    <ul>
      <li>
        <label for="title">Title</label>
        <input type="text" name="article[title]" id="title" value="<%= @article.title %>%">
      </li>
      <li>
        <label for="content">Content</label>
        <input type="text" name="article[content]" id="content" value="<%= @article.content %>">
      </li>
    </ul>
  <input type="submit">  
</form>