<form method="post" action="/articles">
<h1> Title: </h1>
<input type="text" id="title" name="title">
<h2> Content: </h2>
<textarea type="text" id="content" name="content">
</textarea>
<input type="submit" value="submit">
</form>