<form method='post' action='/articles'>
<label for='title'>Article Title:</label>
<input type='string' id='title' name='title'>
<br>
<label for='content'>Article Content:</label>
<input type='string' id='content' name='content'>
<br>
<input type='submit' value='Create'>
</form>