<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Magazine</title>
 </head>
 <body>
     <form action="/articles" method="POST">
     <label>Title:</label>
     <input type = "text" name ="title" id ="title">
     <label>Content:</label>
     <input type = "text" name ="content" id ="content">
     <input type = "submit" value = "Submit" id ="submit">
     </form>
 </body>
</html>
