<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Magazine</title>
 </head>
 <body>
  <h1>Article</h1>
  <h3>Title: <%= @article.title %></h3>
  <h4>Content: <%= @article.content %></h4>
  <form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </form>
  <br>
  <form action="/articles/<%= @article.id %>/edit" method="GET">
    <input type="submit" value="Edit">
  </form>
  <br>
  <a href = "/articles">Back to Articles</a>
 </body>
</html>