<h1>Article</h1>
<p><%=@articles.title%></p>
<p><%=@articles.content%></p>

<form method="post" action="/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>